:root {
    --bg-color: #884ab2;
    --clr-2: #fdc500;
    --clr-3: #d1105a;
}
html {

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: var(--bg-color);
    color: white;
    text-align: center;
}

h3 {
text-align: center;
color: var(--bg-color);
padding: 2%;
}

main {
    padding: 30px;
}

#btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 80px;
}

button {
    text-align: center;
    width: 200px;
    margin: 30px 0;
    padding: 20px 40px;
    border: var(--clr-2) 4px solid;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px;
}

button:hover {
    background-color: var(--clr-2);
    color: white;
}

button:active {
    background-color: var(--bg-color) ;
    color: var(--clr-2);
    border: none;
}
button:focus {
    box-shadow: 2px 2px 2px 2px;
}
#choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.choiceTxt{
    text-align: center;
    width: 200px;
    margin: 30px auto;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid var(--bg-color);
    border-radius: 20px;

}
.choiceTxt:hover{
    background-color: var(--bg-color);
    color: white;
}

.nameDisplay {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: var(--bg-color);
    color: white;
}

footer div {
    font-size: 24px;
    font-family: monospace;
    color: white;

}

footer div a {
    color: white;
}
footer div a:hover {
    font-size: 150%;
}