:root {
    --bg-color: #884ab2;
    --clr-2: #fdc500;
    --clr-3: #d1105a;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 10px; */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: var(--bg-color);
    color: white;
    text-align: center;
}

h3 {
text-align: center;
width: 500px;
padding: 2%;
margin: 0 auto;
color: var(--bg-color);
border-bottom: var(--bg-color) 2px solid;
}

#btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;
    max-width: 800px;
}

button {
    text-align: center;
    width: 200px;
    margin: 30px 0;
    padding: 20px 40px;
    border: var(--clr-2) 4px solid;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px;
}

button:hover {
    background-color: var(--clr-2);
    color: white;
}

button:active {
    background-color: var(--bg-color) ;
    color: var(--clr-2);
    border: none;
}

button:focus {
    box-shadow: 2px 2px 2px 2px;
}

main {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#choices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user {
    flex: 1 0 auto;
}

#scoreboard {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin: 60px 10px 20px;
    background-color: black;
    color: var(--clr-2);
    font-weight: bold;
    border-radius: 15px;
    max-height: 100px;
    text-shadow: 2px 2px var(--clr-3);
    text-align: left;
}

.computer {
    flex: 1 0 auto;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin: 10px 30px;
}

.choiceTxt{
    text-align: center;
    width: 200px;
    margin: 30px auto;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid var(--bg-color);
    border-radius: 20px;

}
.choiceTxt:hover{
    background-color: var(--bg-color);
    color: white;
}

.nameDisplay {
    text-align: center;
}

#winnerDisplay {
    text-align: center;
    font-size: 24px;
    color: var(--clr-3);
    background-color: antiquewhite;
    padding: 2rem;
    width: 300px;
    margin: 0 auto;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .03);
}

footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: var(--bg-color);
    color: white;
}

footer div {
    font-size: 24px;
    font-family: monospace;
    color: white;
}

footer div a {
    color: white;
}
footer div a:hover {
    font-size: 120%;
}

/* MEDIA QUEIRIES */
@media only screen and (max-width: 1100px) {
    #choices {
        flex-direction: column;
    }
    #scoreboard {
        margin: 20px 10px;
    }
}

  
@media only screen and (max-width: 768px) {
    #btns {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin: 0;
    }
    h3 {
        text-align: center;
        width: 300px;
    }
}
  
@media only screen and (min-height: 1500px) {
    body {
        justify-content:flex-start;
        gap: 20px;
    }
  }